body {
    width: 70%;
    height: 685px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 40px;
    
}

.header {
    width: 100%;
    height: 100px;
    border: 5px solid black;
    box-sizing: border-box;
    background-color: blanchedalmond;
    padding: 20px;
}

.row-1 {
    width: 100%;
    height: 100px;
    box-sizing: border-box;

}

.row-1-col-1 {
    width: 20%;
    height: 100px;
    border: 5px solid black;
    box-sizing: border-box;
    background-color: aqua;
    float: left;
    padding: 20px;
}

.row-1-col-2 {
    width: 20%;
    height: 100px;
    border: 5px solid black;
    box-sizing: border-box;
    background-color: aqua;
    float: left;
    padding: 20px;
}

.row-1-col-3 {
    width: 20%;
    height: 100px;
    border: 5px solid black;
    box-sizing: border-box;
    background-color: aqua;
    float: left;
    padding: 20px;
}

.row-1-col-4 {
    width: 20%;
    height: 100px;
    border: 5px solid black;
    box-sizing: border-box;
    background-color: aqua;
    float: left;
    padding: 20px;
}

.row-1-col-5 {
    width: 20%;
    height: 100px;
    border: 5px solid black;
    box-sizing: border-box;
    background-color: aqua;
    float: left;
    padding: 20px;
}

.row-2 {
    width: 100%;
    height: 300px;
}
.row-2-col-1{
    width: 75%;
    height: 300px;
    background-color: red;
    border: 5px solid black;
    box-sizing: border-box;
    float: right;
    padding: 120px;
}
.row-2-col-2
{
    width: 25%;
    height: 75px;
    box-sizing: border-box;
    border: 5px solid black;
    background-color: blue;
    padding: 10px;
    
}
.row-2-col-3
{
    width: 25%;
    height: 75px;
    box-sizing: border-box;
    border: 5px solid black;
    background-color: blue;
    padding: 10px;
}
.row-2-col-4
{
    width: 25%;
    height: 75px;
    box-sizing: border-box;
    border: 5px solid black;
    background-color: blue;
    padding: 10px;
}
.row-2-col-5
{
    width: 25%;
    height: 75px;
    box-sizing: border-box;
    border: 5px solid black;
    background-color: blue;
    padding: 10px;
}
.row-3{
    background-color: aquamarine;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    border: 5px solid black;
    padding: 20px;

}
.row-4{
    width: 100%;
    height: 80px;
    box-sizing: border-box;
}
.row-4-col-1{
    width: 25%;
    height: 80px;
    box-sizing: border-box;
    border: 5px solid black;
    float: left;
    padding: 10px;
    background-color: tomato;
}

.row-4-col-2{
    width: 40%;
    height: 80px;
    box-sizing: border-box;
    border: 5px solid black;
    float: left;
    padding: 10px;
    background-color: tomato;
}
.row-4-col-3{
    width: 35%;
    height: 80px;
    box-sizing: border-box;
    border: 5px solid black;
    float: left;
    padding: 10px;
    background-color: tomato;
}